servant/makefile/tars-tools.cmake
.idea
/cmake-build-debug-177

*.obj
*.o
*.dep
*.idb
*.pdb
*.o.d
BuildLog.htm
*.user
*.manifest
*.ncb
*.suo
*.pch
*.res
_build
*.gcno
*.gcda
*.a
*.so
*.exe
*.dll
*.log
*.map
*.jar
*.class
*.tgz
*.gz
*.tar
*.zip
shared
temp
bin
build
build_bak
inc/avatar
include
inc/Common
inc/Common-3.5
inc/Common-3.6
src/Service-3.5
src/Service-3.6
